<%- include('partials/header'); -%>


<div class="alert alert-primary alerts" role="alert">
</div>
<div class="alert alert-warning alerts" role="alert">
</div>
<div class="alert alert-danger alerts" role="alert">
</div>
<container name="login">
  <div id="welcomeMsg">
    <h1>Ξερή</h1>
    <hr>
    <h4>Λεωνίδης Γιώργος</h4>
    <h6>Ανάπτυξη Διαδικτυακών Συστημάτων & Εφαρμογών</h6>
    <hr>
  </div>
  <center>
    <div id="login-form">
      <form method="post" onsubmit="return false;">
        <div class="form-group">
          <label for="username">Όνομα χρήστη (==esentis)</label>
          <input type="text" class="form-control" id="username">
        </div>
        <input id="submitBtn" name="submitBtn" class="btn btn-primary" type="submit" value="Είσοδος">
      </form>
    </div>
  </center>
</container>

<%- include('partials/footer'); -%>
