<%- include('partials/header'); -%>


<div class="alert alert-primary alerts" role="alert">
</div>
<div class="alert alert-warning alerts" role="alert">
</div>
<div class="alert alert-danger alerts" role="alert">
</div>
<container name="login">
  <div id="welcomeMsg">
    <h1 class="headerTitle">Online Ξερή</h1>
    <div class="container mainPageCredentials">
      <hr>
      <p class="creatorName">Λεωνίδης Γιώργος</p>
      <h6>Ανάπτυξη Διαδικτυακών Συστημάτων & Εφαρμογών</h6>
    </div>
    </div>
  <center>
    <div id="login-form">
      <form index="/" method="post">
        <div class="form-group">
          <h2>Είσοδος παίκτη</h2>
          <hr>
          <label for="username">Όνομα χρήστη</label>
          <input type="text" class="form-control" id="username" name="username" data-toggle="tooltip" data-placement="top" title="Εδώ γράφεις το όνομα σου">
          <label for="username">Κωδικός</label>
          <input type="password" class="form-control" id="password" name="password" data-toggle="tooltip" data-placement="top" title="Εδώ γράφεις το κωδικό σου">
          <hr>
        </div>
        <input id="submitBtn" name="submitBtn" class="btn btn-primary" type="submit" value="Είσοδος">
      </form>
      <a href="/register">Εγγραφή</a>
    </div>
  </center>
</container>

<%- include('partials/footer'); -%>
