#login-form {
  text-align: center;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  padding: 4vmin;
  background-color: #B0D9C1;
  position: relative;
  top: 10px;
}

#tablePicture{
  width:850px;
}

#welcomeMsg {
  text-align: center;
  color: #B0D9C1;
  font-family: 'GFS Didot', serif;
}


body {
  margin: 0;
  padding: 0;
  background-color: #03733F;
  height: 600px;
}

h1 {
  font-size: 300%;
  font-family: 'Comfortaa', cursive;
}

.alert {
  display: none;
}

.alerts {
  text-align: center;
}

.btn-primary {
  background-color: #048C4D;
}

.btn-primary:focus {
  background-color: #03733F;
  border-color: #B0D9C1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #05A65B;
  border-color: #285e8e;
  /*set the color you want here*/
}



.footer-copyright {
  text-align: center;
  position: relative;
  padding: 50px;
  top:50px;
}
.playingCard{
  width: 6rem;
  padding: 0;
  margin:0;
}
.playerHand{
  padding-left: 380px;
  padding-right: 380px;
  padding-top:0;
  padding-bottom:0;
  margin:0;
}
.trapezi{
  position: relative;
  text-align: center;
}
.row{
  padding:0;
  margin:0;
}
.loadingLabel{
  font-weight:bold;
  font-size:3vmin;
}
