/* IMPORTED Fonts
font-family: 'Dancing Script', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */


#login-form {
  text-align: center;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  padding: 4vmin;
  background-color: #7fcd91;
  position: relative;
  top: 10px;
}
/* we change background color for register form */
#login-form.register-form {
  text-align: center;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  padding: 4vmin;
  background-color: #40bfc1;
  position: relative;
  top: 10px;
}

#usernameText,.card-text,h6{
  color:#f6f4e6;
  text-shadow: 2px 2px black;
}
#tablePicture{
  width:650px;
}

#welcomeMsg {
  text-align: center;
  color: #B0D9C1;
}
/* COLOR ASINGMENT */
.creatorName,.headerTitle,h4,h3{
  color:#9d2503;
}
label,a,h2{
  color:#2c7873;
  font-weight: bold;
  text-shadow:0.5px 0.5px black;
}

/* FONT ASSIGN Jura */
.form-group,#welcomeMsg,h4,.loadingLabel,.form-control,.creatorName{
  font-family: 'Jura', sans-serif;
}
/* FONT ASSIGN Jura Open Sans Condensed*/
h1,h3,#usernameText,h2,.btn,a,.mainPageCredentials{
  font-family: 'Open Sans Condensed', sans-serif;
}


hr{
  width: 50px;
  border-style:dotted;
  display: block;
  padding: 0;
  border-radius: 0;
  border-width: 5px;
  border-top:0;
  border-color:#fbe3b9;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c9463;
  height: 600px;
}

h1 {
  font-size: 300%;
}

.alert {
  display: none;
}

.alerts {
  text-align: center;
}

.btn-primary {
  background-color: #048C4D;
}

.btn-primary:focus {
  background-color: #03733F;
  border-color: #B0D9C1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #05A65B;
  border-color: #285e8e;
  /*set the color you want here*/
}



.footer-copyright {
  text-align: center;
  position: relative;
  padding: 50px;
  top:50px;
}
.playingCard{
  width: 6rem;
  padding: 0;
  margin:0;
}
.playerHand{
  padding:30px 200px;
  margin:0;
}
.trapezi{
  position: relative;
  text-align: center;
}
.row{
  padding:0;
  margin:0;
}
.loadingLabel{
  font-weight:bold;
  font-size:3vmin;
}
.mainPageCredentials{
  font-size: 7vmin;
  padding: 0;
}
.bottomCreator{
  font-size: 4vmin;
  font-family: 'Dancing Script', cursive;
}
.form-control{
  font-weight: bold;
}
.cardsPlayedFrame{
  position: absolute;
  bottom: 100px;
  z-index: 1;
  padding: 0 150px;
  margin: 0;
}
.cardPlayedOnBoard{
  width: 60px;
  padding: 0;
  margin: 0;
}
.results{
  padding: 0 200px;
  width: max-content;
}
.status{
  padding: 0 200px;
  width: max-content;
}
.logo{
  width: 200px;
}
.logoInGame{
  width: 100px;
}
.creatorName{
  padding: 0;
  margin: 0;
  color: black;
  font-size: 5vmin;
}
.bottomCreator{
  color: #f6f4e6;
  font-family: 'Open Sans Condensed';
}
.list-group-item{
  padding:5px 10px;
  font-family: 'Jura', sans-serif;
  font-size: 3vmin;
  font-weight: bold;
}
.badge{
margin-left: 150px;
}
.loadingLabel{
  color: #f6f4e6;
}
.card {
  background-color: transparent;
  border:0;
  display: block;
}
.cardInHand{
  width: 25vmin;
}
